
// Blockquote
// ––––––––––––––––––––––––––––––––––––––––––––––––––

blockquote {
	border-left: .3rem solid $color-primary;
	border-radius: 0.35rem;	margin-left: 5rem !important;
	margin-right: None;
	padding: 1rem 1.5rem;
	color: $color-text;

	*:last-child {
		margin-bottom: 0;
	}

}
