
// Blockquote
// ––––––––––––––––––––––––––––––––––––––––––––––––––

blockquote {
	border-left: .3rem solid $color-lines;
	margin-left: 5rem !important;
	margin-right: None;
	padding: 1rem 1.5rem;

	*:last-child {
		margin-bottom: 0;
	}
}
