
// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	background-color: $color-tertiary;
	border-radius: .4rem;
	color: $color-header;
	cursor: pointer;
	display: inline-block;
	font-size: 1.1rem;
	font-weight: 700;
	height: 3.8rem;
	letter-spacing: .1rem;
	line-height: 4rem;
	padding: 0 3.0rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	transition: background-color 250ms;
	cursor: pointer;

	&:focus,
	&:hover {
		background-color: darken($color-tertiary, 5%);
		color: $color-header;
		outline: 0;
		border-radius: .4rem;
		cursor: pointer;
	}

	&[disabled] {
		cursor: default;
		opacity: .5;
		background-color: grayscale($color-tertiary);
	}

	&.button-outline {
		background-color: transparent;
		color: $color-tertiary;
		border: 0.1rem solid $color-tertiary;

		&:focus,
		&:hover {
			background-color: transparent;
			border-color: $color-secondary;
			color: $color-secondary;
		}

		&[disabled] {

			&:focus,
			&:hover {
				border-color: inherit;
				color: $color-tertiary;
			}
		}
	}

	&.button-clear {
		background-color: transparent;
		border-color: transparent;
		color: $color-primary;

		&:focus,
		&:hover {
			background-color: transparent;
			border-color: transparent;
			color: $color-secondary;
		}

		&[disabled] {

			&:focus,
			&:hover {
				color: $color-tertiary;
			}
		}
	}
}
