
// Code
// ––––––––––––––––––––––––––––––––––––––––––––––––––

code {
	background: $color-block;
	border: 1px solid $color-block-border;
	color: $color-text-highlight;

	border-radius: .4rem;
	font-family: "Hack", monospace;
	letter-spacing: 0.05rem;
	margin: 0 .2rem;
	padding: .2rem .5rem;
	white-space: nowrap;
	font-size: 1.2rem;

}

pre {
	background: $color-block;
	border: 1px solid $color-block-border;
	border-left: .3rem solid $color-primary;
	overflow-y: hidden;
	border-radius: 0.35rem;
	padding-left: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 2rem;

	& > code {
		border-radius: 0;
		display: block;
		padding: 1rem 1.5rem;
		font-size: 1rem;
		white-space: pre;
		border: None;
		background-color: $color-block;
	}
}
