
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #fff !default;
$color-primary: #2185d0 !default;
$color-secondary: #8ba3a9 !default;
$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e1e1e1 !default;



$color-initial: #161a29;
$color-primary: #7289da;
$color-secondary: #8793ba;
$color-tertiary: #2c355c;
$color-quaternary: lighten($color-initial, 10%);
$color-quinary: lighten($color-quaternary, 10%);



$color-header: #ffffff;
$color-text: #606c76;
$color-text-highlight: #ddd;
$color-block: #1b2137;
$color-block-border: darken(#1b2137, 7.5%);
$color-lines: #8793ba;


h1, h2, h3, h4, h5, h6 {
	color: $color-text;
}

main > article > h1{
	&:hover:before {
		color: $color-text-highlight;
	}

	&:after {
		border-bottom: 1px solid $color-text-highlight;
	}
}
