
// List
// ––––––––––––––––––––––––––––––––––––––––––––––––––

dl, ol, ul {
	list-style: none;
	margin-top: 0;
	padding-left: 0;

	dl,	ol,	ul {
		font-size: 90%;
		margin: 1.5rem 0 1.5rem 3.0rem;
	}
}

ol {
	padding-left: 1rem;
	counter-reset: section;

	li{
		position: relative;
		padding-left: 3rem;

		&:before{
			position: absolute;
			counter-increment: section;
			content: counter(section) ".";
			font-weight: bold;
			font-family: "Titillium Web";
			font-size: 1.3rem;
			color: $color-primary;
			left:0.5rem;
			top: 0.25rem;
		}
	}
}

ul {
	//list-style: circle inside;
	padding-left: 1rem;

	li{
		position: relative;
		padding-left: 3rem;

		&:before{
			position: absolute;
			content: "•";
			font-size: 125%;
			font-weight: bold;
			line-height: 1.25;
			color: $color-primary;
			left:0;
		}
	}
}
