
// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––

article > *:not(h1) {
	margin-left: 3rem;

}

b, strong {
	font-weight: bold;
}

p {
	margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	letter-spacing: -.1rem;
	margin-bottom: 2.0rem;
	color: $color-text;
}

h1 {
	font-size: 4rem;
	line-height: 1.2;
	color: $color-header;
	position: relative;
	margin-top: 10rem;
	padding-bottom: 1.5rem;
	font-family: "Titillium Web";
}

article > h1{
	color: $color-header;

	&:before {
		content: "#";
		padding-right: 1rem;
		color: $color-text;
		transition: 250ms color;
	}

	&:hover:before {
		color: $color-text-highlight;
	}

	&:after {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		content: '';
		height: 0;
		width: 100%;
		border-radius: 0;
		border-bottom: 2px solid $color-lines;
	}
}

h2 {
	font-size: 3.0rem;
	line-height: 1.25;
	margin-top: 5rem;
}

h3 {
	font-size: 2.8rem;
	line-height: 1.3;
}

h4 {
	font-size: 2.2rem;
	letter-spacing: -.08rem;
	line-height: 1.35;
}

h5 {
	font-size: 1.8rem;
	letter-spacing: -.05rem;
	line-height: 1.5;
}

h6 {
	font-size: 1.6rem;
	letter-spacing: 0;
	line-height: 1.4;
}
