{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
    <div class="no-select">
        <h1 style="margin-bottom: 0rem; font-size: 5rem">{{ this.title }}</h1>
        <span class="float-left">{{ this.date | dateformat('long')}}</span>
        <a href="https://github.com/ns-phennessy/patcave.me/{{ this.source }}" class="button button-outline float-right">
            <svg class="icon icon-github2"><use xlink:href="#icon-github2"></use></svg>&nbsp;
            Source
        </a>
    </div>
    <br>
    <div class="centered">
        <img src="https://assets.digitalocean.com/ghost/2017/07/NET_neutrality_blog.png" alt="">
    </div>

    {{ this.body }}
{% endblock %}
