<!DOCTYPE html>
<meta charset="utf-8">
<html>
    <head>
        <!-- CSS -->
        <link rel="stylesheet" href="{{ '/static/style.min.css' | url }}">
        <link rel="stylesheet" href="{{ '/static/pygments.css' | url }}">
        <link rel="shortcut icon" href="{{ '/static/favicon.png' | url }}">


        <!-- Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel='stylesheet' href='//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>

        <!-- Icons -->
        <link rel="stylesheet" href="{{ '/static/icon.css' | url }}">
        <script src="{{ '/static/icon.min.js' | url }}"></script>

        <title>The Patcave - {% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <h1>The Patcave</h1>
            <nav class="social">
                <a href="https://www.linkedin.com/in/pmhennessy/" target="_blank">
                    <svg class="icon linkedin"><use xlink:href="/static/icons.svg#linkedin"></use></svg>
                </a>
                <a href="https://github.com/ns-phennessy" target="_blank">
                    <svg class="icon github2"><use xlink:href="/static/icons.svg#github2"></use></svg>
                </a>
                <a href="#" target="_blank">
                    <svg class="icon rss"><use xlink:href="/static/icons.svg#rss"></use></svg>
                </a>
            </nav>
            <nav>
                <a href="/">Blog</a>
                <a href="/about/">About</a>
                <a href="mailto:phennessy517@gmail.com">Contact</a>
            </nav>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <hr>
            <span>&copy; Patrick Hennessy <em>2015 - 2018</em><span>
        </footer>
    </body>
</html>
