{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
    <header>
        <h1 id="title">{{ this.title }}</h1>
        <time>{{ this.date | dateformat('long')}}</time>
        <a href="https://github.com/ns-phennessy/patcave.me/tree/master/content{{ this.path.split('@')[0]}}/contents.lr" class="button button-clear">
            <svg class="icon pencil2"><use xlink:href="/static/icons.svg#pencil2"></use></svg>&nbsp;
            Edit on Github
        </a>

        {% if this.cover_image %}
            <img src="{{ this.cover_image }}" alt="">
        {% endif %}
    </header>

    <article>
        {{ this.body }}
    </article>
{% endblock %}
